
asdf_has() {
    asdf current $1 >>/dev/null 2>&1
}

asdf_yolo() {
    if has asdf-helper; then
        while read asdf_tool; do
            if ! asdf_has ${asdf_tool}; then 
                color_normal="\e[m"
                color_info="\e[38;2;255;255;0m"
                printf "\n\n${color_info}Installing plugins & tools - could be a while${color_normal}\n" "$msg" >&2

                asdf-helper install
            fi
        done < <(cat .tool-versions | grep -v '\#')

    else
        color_normal="\e[m"
        color_error="\e[38;2;255;0;0m"
        color_shell="\e[38;2;0;255;0m"
        printf "\n\n${color_error}Please install asdf-helper to make your life better :${color_normal}\n" "$msg" >&2
        printf "\n\t${color_shell}asdf plugin add asdf-helper https://github.com/ngyewch/asdf-helper-plugin.git && asdf install asdf-helper latest && asdf global asdf-helper latest ${color_normal}\n" "$msg" >&2

    fi
}

asdf_yolo
use asdf
